<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <!--Server URL-->
    <add key="Server" value="http://streamtv.net.ua/base/" />
    <!--Server URL-->
    <add key="UserName" value="auto" />
    <!--Server URL-->
    <add key="UserPassword" value="test" />
  </appSettings>
</configuration>